{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascripts %}
<script>
    const data = "{{ url(api_endpoint) }}";
</script>
<script src="{{ asset('js/allbooks.js')}}"></script>
{% endblock %}

{% block body %}
<div class="uk-flex uk-flex-center">
    <div id="books" class="uk-grid uk-child-width-1-1@m  uk-width-1-1">
    </div>
</div>
{% endblock %}