{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<div class="uk-flex uk-flex-center">
    <article class="uk-article">
        <h1 class="uk-article-title">Welcome to library</h1>
        <p class="uk-margin uk-text-lead">
            Browse, add and delete books
        </p>
    </article>
</div>
{% endblock %}