{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<div class="position-relative" style="height: 50vh;">
    <div class="position-absolute top-50 start-50 translate-middle">
        <article class="uk-article">
            <h1 class="uk-article-title">Welcome to library</h1>
            <p class="uk-margin uk-text-lead">
                Browse, add and delete books
            </p>
        </article>
    </div>
</div>
{% endblock %}